// Variables for theme

// Font
$defaultFont: "Open Sans", sans-serif;

// Font Sizes
$defaultFontSize: 1rem;

// Colors
$primary: #8331a5;
$primaryLight: #b77dcf;
$grayLight: #dbdbdb;

$backgroundDark: #272727;
$backgroundLight: #464646;
$backgroundThin: #e1e1e1;

$textColor: #646464;
$textColorLight: #e6e6e6;

$iconColor: #d8d8d8;

$LaravelColor: #ff8a3b;
$LaravelColorLight: #fba165;
$LaravelColorButton: #fe6207;
$LaravelColorButtonLight: #f96d1b;

$jsColor: #20a883;
$jsColorLight: #4ec2a3;
$jsColorButton: #198e6e;
$jsColorButtonLight: #3b977e;

$vueColor: #2e86b4;
$vueColorLight: #56a1c8;
$vueColorButton: #2c779e;
$vueColorButtonLight: #327598;

// Shadows
$defaultShadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);

// Global style
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $defaultFont;
  font-size: $defaultFontSize;
  user-select: none;
}

// Util classes
.logo img {
    width: 200px;
    height: auto;
}

.btn {
  color: white;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 7px;
  border-radius: 20px;
  transition: all 0.5s;
  box-shadow: $defaultShadow;

  &.primary {
    background-color: $primary;

    &:hover {
      background-color: $primaryLight;
    }
  }

  &.laravel {
    background-color: $LaravelColorButton;

    &:hover {
      background-color: $LaravelColorButtonLight;
    }
  }

  &.js {
    background-color: $jsColorButton;

    &:hover {
      background-color: $jsColorButtonLight;
    }
  }

  &.vue {
    background-color: $vueColorButton;

    &:hover {
      background-color: $vueColorButtonLight;
    }
  }
}

i.buttom {
  cursor: pointer;
}

.dots {
  display: flex;

  span {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.groupForm {
  display: flex;
  border: 1px solid $iconColor;
  border-radius: 20px;
  align-items: center;
  padding: 6px;
  margin-bottom: .5rem;
  transition: all .5s;

  input {
    border: none;
    outline: none;
    color: $textColor;
    width: 100%;

    &::placeholder {
      color: $iconColor;
    }
  }

  i {
    color: $iconColor;
    margin: 0 5px;
  }

  &:focus-within {
    border: 1px solid $primaryLight;
  }

  &:focus-within i {
    color: $primaryLight;
  }
}

.link {
  text-decoration: none;
  font-weight: 600;
  transition: all .5s;

  &.primary {
    color: $primary;

    &:hover {
      color: $primaryLight;
    }
  }
}