@import "_theme";

section#loginPage {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $backgroundThin;

  .loginContent {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginCard {
      width: 800px;
      min-height: 550px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      box-shadow: $defaultShadow;
      transition: width .2s;
      margin: 2rem 0;

      .decor {
        width: 50%;
        border-radius: 10px 0 0 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        &::before {
          content: "";
          background-color: $primary;
          border-radius: 10px 0 0 10px;
          display: flex;
          height: 100%;
          width: 100%;
          position: absolute;
          opacity: 0.85;
        }

        .content {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 0 1.5rem;

          .dots {
            margin: 1rem 0;
          }

          .description {
            text-align: center;
            color: $textColorLight;
            font-size: 13px;
            font-weight: 300;
          }
        }

        .copyright {
          position: absolute;
          color: $textColorLight;
          bottom: 10px;
          font-weight: 300;
        }
      }

      .login {
        width: 50%;

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 2rem;

          span {
            font-size: 12px;
            text-align: center;
          }

          .logo img {
            margin-top: 3rem;
          }

          .dots {
            margin: 2rem 0;

            span {
              background-color: $primary;
            }
          }

          .description {
            font-weight: 300;
          }

          form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 5rem;

            button {
              margin-top: .5rem;
              margin-bottom: 1.5rem;
            }
          }
        }

        .copyright {
          color: $textColor;
          bottom: -25px;
          font-weight: 300;
          text-align: center;
          margin-bottom: 1rem;
          display: none;
        }
      }

      @include respond-to('big') {
        width: 80%;
      }

      @include respond-to('medium') {
        flex-direction: column;

        .decor {
          width: 100%;
          border-radius: 10px 10px 0 0;

          &::before {
            border-radius: 10px 10px 0 0;
          }

          .content {

            .logo {
              margin: 2rem 0;
            }

            .dots {
              display: none;
            }

            .description {
              display: none;
            }
          }

          .copyright {
            display: none;
          }
        }

        .login {
          width: 100%;

          .content {
            margin: 1rem 0;

            .logo img {
              margin-top: 2rem;
            }

            .dots {
              margin: 1rem 0;
            }
  
            .description {
              font-weight: 300;
            }
  
            form {
              margin-top: 2rem;
  
              button {
                margin-top: .5rem;
                margin-bottom: 1.5rem;
              }
            }
          }

          .copyright {
            display: block;
          }
        }
      }

      @include respond-to('small') {
        .login .content form {
          width: 100%;
        }
      }
    }
  }
}

header#header {
  nav {
    height: 70px;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: $defaultShadow;

    .logo img {
      width: 170px;
    }

    .toggleMenu {
      position: absolute;
      left: 0;
      color: white;
      cursor: pointer;
      padding: 10px;
      font-size: 1.8rem;
      margin-left: .5rem;
    }
  }
}

body.page {
  section {
    min-height: calc(100vh - (#{$navSize} * 1.5));
    padding-top: 70px;

    .pageTitle {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 1rem 0; 

      .title {
        color: white;
        margin-bottom: .5rem;
        font-size: 15px;
      }

      .subtitle {
        color: white;
        margin-bottom: .5rem;
      }

      .btn {
        width: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 1rem;
        box-shadow: none;
      }
    }

    .content {
      margin: 1.5rem 3rem;

      ul.listCourses {
        margin: 0 auto;
        width: 900px;
        transition: width .5s;
        margin-bottom: 1rem;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .card {
            height: 70px;
            display: flex;
            border-radius: 20px;
            box-shadow: $defaultShadow;
            transition: background-color .5s, width .5s;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .icon {
              margin: 0 1rem;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 45px;
                height: auto;
              }
            }

            .title {
              width: 100%;
              color: white;
              font-size: 15px;
            }

            .action {
              margin: 0 1rem;

              .btn {
                padding: 7px 20px;
                box-shadow: none;
              }
            }

            @include respond-to('small') {
              flex-direction: column;
              height: auto;
              padding: 1rem;

              .icon {
                margin-bottom: 1rem;
              }

              .title {
                text-align: center;
                margin-bottom: 1rem;
              }

              .action {
                width: 100%;

                button {
                  box-shadow: $defaultShadow;
                }
              }
            }
          }

          .dots {
            margin: .5rem 0;
          }

          &:last-child .dots {
            display: none;
          }
        }

        @include respond-to('big') {
          width: 100%;
        }
      }
    }
  }

  footer {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
  }
}

section .container {
  display: flex;
  width: 100%;
  height: auto;

  .left {
    width: 20%;
    min-height: 300px;

    .card {
      margin: 0 .5rem;
      border-radius: 10px;
      background-color: $backgroundLight;
      padding-bottom: 1rem;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px 10px 0 0;
        height: 60px;
        color: white;
        padding: 0 1rem;

        .text {
          font-size: 15px
        }

        .icon {
          font-size: 1.2rem;
        }
      }

      .modules {
        position: relative;

        .name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1rem;
          height: 40px;
          color: white;
          background-color: $backgroundLight;
          box-shadow: $defaultShadow;
          position: relative;

          .text {
            font-size: 14px;
            font-weight: 300;
          }

          .icon {
            height: 6px;
            line-height: 0;
          }
        }

        .classes {

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            padding: 0 1rem;
            background-color: $backgroundList;
            height: 40px;
            margin-bottom: 3px;

            .check {
              color: $flutterColor;

              &.active {
                color: $jsColor;
              }
            }

            .nameClass {
              width: 100%;
              padding: 0 1rem;
              font-size: 14px;
              font-weight: 300;
            }

            .file {
              color: $LaravelColor;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .right {
    width: 80%;
    min-height: 900px;

    .content {
      margin: 0 .5rem;
      background-color: $backgroundLight;
      height: 100%;
      border-radius: 10px;
    }
  }
}
