@import "_theme";
@import "_responsive";

section#loginPage {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $backgroundThin;

  .loginContent {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginCard {
      width: 800px;
      min-height: 550px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      box-shadow: $defaultShadow;
      transition: width .2s;
      margin: 2rem 0;

      .decor {
        width: 50%;
        border-radius: 10px 0 0 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        &::before {
          content: "";
          background-color: $primary;
          border-radius: 10px 0 0 10px;
          display: flex;
          height: 100%;
          width: 100%;
          position: absolute;
          opacity: 0.85;
        }

        .content {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 0 1.5rem;

          .dots {
            margin: 1rem 0;
          }

          .description {
            text-align: center;
            color: $textColorLight;
            font-size: 13px;
            font-weight: 300;
          }
        }

        .copyright {
          position: absolute;
          color: $textColorLight;
          bottom: 10px;
          font-weight: 300;
        }
      }

      .login {
        width: 50%;

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 2rem;

          span {
            font-size: 12px;
            text-align: center;
          }

          .logo img {
            margin-top: 3rem;
          }

          .dots {
            margin: 2rem 0;

            span {
              background-color: $primary;
            }
          }

          .description {
            font-weight: 300;
          }

          form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 5rem;

            button {
              margin-top: .5rem;
              margin-bottom: 1.5rem;
            }
          }
        }

        .copyright {
          color: $textColor;
          bottom: -25px;
          font-weight: 300;
          text-align: center;
          margin-bottom: 1rem;
          display: none;
        }
      }

      @include respond-to('big') {
        width: 80%;
      }

      @include respond-to('medium') {
        flex-direction: column;

        .decor {
          width: 100%;
          border-radius: 10px 10px 0 0;

          &::before {
            border-radius: 10px 10px 0 0;
          }

          .content {

            .logo {
              margin: 2rem 0;
            }

            .dots {
              display: none;
            }

            .description {
              display: none;
            }
          }

          .copyright {
            display: none;
          }
        }

        .login {
          width: 100%;

          .content {
            margin: 1rem 0;

            .logo img {
              margin-top: 2rem;
            }

            .dots {
              margin: 1rem 0;
            }
  
            .description {
              font-weight: 300;
            }
  
            form {
              margin-top: 2rem;
  
              button {
                margin-top: .5rem;
                margin-bottom: 1.5rem;
              }
            }
          }

          .copyright {
            display: block;
          }
        }
      }

      @include respond-to('small') {
        .login .content form {
          width: 100%;
        }
      }
    }
  }
}
